<!DOCTYPE html>
<html>
<head>
    <title>OutPut Page </title>
    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
    onclick="(getOAuthAccessToken)">DATA EXTENSION</button>
</head>
<body>
<script>
    
    //('/apidemooauthtoken','textOauthPostResponse')
     
    function accessTokenGeneration(thisdata) {
    axios({
      method: "POST",
      url: "/appdemoauthtoken",
      data: {
        authorization_code: thisdata.state.authorization_code,
        tssd: thisdata.state.tssd,
      },
    })
      .then(function (response) {
        console.log(
          "accesstokengeneration:" +
            JSON.stringify(response.data.refreshToken)
        );
        thisdata.setState({ refreshtoken: response.data.refreshToken });
        AppUserInfo(thisdata, response.data.refreshToken);
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  //Used to fetch the user information
  function AppUserInfo(thisdata, refreshToken) {
    axios({
      method: "POST",
      url: "/appuserinfo",
      data: { refreshToken: refreshToken, tssd: thisdata.state.tssd },
    })
      .then(function (response) {
        console.log("appuserinfo:" + JSON.stringify(response));

        //thisdata.setState({ namex: response.data });
        thisdata.setState({ refreshtoken: response.data.refreshToken });
        thisdata.setState({ member_id: response.data.member_id });
        thisdata.setState({
          restInstance: response.data.rest_instance_url,
        });
        thisdata.setState({
          soapInstance: response.data.soap_instance_url,
        });

        dataFolderCheck(
          thisdata,
          response.data.refreshToken,
          response.data.member_id,
          response.data.rest_instance_url,
          response.data.soap_instance_url
        );
      })
      .catch(function (error) {
        console.log(error);
      });
  }
</script>    
</body>
</html>
