<!DOCTYPE html>
<html>
<head>
    <title>OutPut Page </title>
    <script src="/scripts/site-scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <h1>Enter Data</h1>
    <p>Data for Data Extension</p>
    <p>Name: <input type='text'></p>
    <p>Emai-Id: <input type='text'></p>
    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
    onclick="enable button2( doRestGet('/apidemooauthtoken','textOauthPostResponse') )">Enter</button>
    <input type="button" id="button2" value="Save Data" disabled/>

    

</body>
</html>