<!DOCTYPE html>
<html>
<head>
    <title>OutPut Page </title>
</head>
<body>
    
    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
    onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">DATA EXTENSION</button>
    

</body>
</html>

