<!DOCTYPE html>
<html>
<head>
    <title>OutPut Page </title>
</head>
<body>
    <h1>Enter Data</h1>
    <p>Data for Data Extension</p>
    <p>Name: <input type='text'></p>
    <p>Emai-Id: <input type='text'></p>
    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
    onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">Save Record</button>
    

</body>
</html>

